* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(245, 245, 245);
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  background-image: linear-gradient(0deg, rgba(0,0,0, 0.3), rgba(0,0,0,0.3)) ,url('./assets/hero\ 5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  font-weight: 400;
  color: white;
  font-size: 40px;
}
.random-cats-title {
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #4f11fa 0%, #47c914de 50%, #c01414 70%);  
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.randoms-cats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-cats {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat-info {
  border-radius: 2px;
  position: relative;
  margin: 20px;
}
.cat-info .cat {
  box-shadow: 0px 0px 4px rgb(30, 30, 30);
  background-size: cover;
  border-radius: 2px;
}
.favorite-cat {
  position: absolute;
  top: 240px;
  left: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #f0eeee;
  border: none;
  cursor: pointer;
  transition: all .3s linear;
}
.icon {
  transition: all 200ms ease;
  width: 30px;
}
.icon:hover {
  transition: all 200ms ease;
  filter: invert(15%) sepia(58%) saturate(6826%) hue-rotate(356deg) brightness(100%) contrast(116%);
}
.show-random-cat-btn {
  width: 300px;
  margin-bottom: 50px;
  border: 2px solid transparent;
  transition: all.3s;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  margin-top: 10px;
  color: rgb(228, 228, 228);
  background-color: #363636;
}
.show-random-cat-btn:hover {
  font-weight: 400;
  transition: all .3s ease-in-out;
  background-color: transparent;
  color: #363636;
  border: 2px solid #363636;
}

span h2 {
  color: rgba(236, 13, 13, 0.925);
  font-weight: 400;
}

#favorites-cats {
  display: none;
}

#uploadingMichis {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: 
  linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3))
  ,url('./assets/hero\ 4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#uploadingMichis h2 {
  font-weight: 400;
  color: white;
  font-size: 40px;
}
#uploadingForm {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#file {
  margin-bottom: 30px;
}
.form-btn {
  border: none;
  transition: all.2s;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  border-radius: 50px;
  margin-top: 10px;
  color: rgb(228, 228, 228);
  background-color: #363636;
}
.form-btn:hover {
  font-weight: 400;
  transition: all .2s ease-in-out;
  background-color: #181818;
}



@media (max-width: 660px) {
  h1 {
    text-align: center;
  }
  
  .container-cats{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #uploadingMichis h2{
    text-align: center;
  }

}